[Unit]
Description=Create daily verified server security archive
After=systemd-journald.service auditd.service

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/local/sbin/security-operations-control archive daily
